.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  background-color: hsla(218.57142857142856, 0.00%, 100.00%, 0.95);

  font-family: 'Google Sans';
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

.navbar.with-color-button {
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 991px) {
  .navbar.with-color-button {
    padding-bottom: 20px;
  }
}

.navbar.white {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: white;

  box-shadow: 0 0 33px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 991px) {
  .navbar.white {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .navbar.white {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  .navbar.white {
    padding-bottom: 10px;
  }
}

.logo-block {
  z-index: 10;

  display: flex;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.logo-block:global(.w--current) {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

@media screen and (max-width: 991px) {
  .logo-block {
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
}

@media screen and (max-width: 991px) {
  .logo-block:global(.w--current) {
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
}

.logo-block.no-menu {
  z-index: 0;
}

.logo {
  height: 40px;
  margin-top: 3px;
}

@media screen and (max-width: 767px) {
  .logo {
    height: 30px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .logo {
    margin-top: 5px;
  }
}

.logo.responsive-menu {
  margin-top: 12px;
}

@media screen and (max-width: 479px) {
  .logo.fixed {
    margin-top: 6px;
  }
}

.right-nav-menu {
  width: 300px;
  margin-left: 60px;
  padding: 31px;

  background-color: white;

  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);

  text-align: left;
}

@media screen and (max-width: 991px) {
  .right-nav-menu {
    z-index: 2000;
  }
}

@media screen and (max-width: 767px) {
  .right-nav-menu {
    width: 80%;
    padding: 20px;
  }
}

.nav-link {
  margin-right: 3px;
  padding: 11px 15px;

  border: 1px solid transparent;
  border-radius: 5px;

  background-color: transparent;

  transition: background-color 200ms ease,border 200ms ease;

  font-size: 13px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 991px) {
  .nav-link {
    width: 100%;
    max-width: 1200px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 35px;

    border-radius: 0px;

    color: white;
  }
}

@media screen and (max-width: 991px) {
  .nav-link:hover {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    padding-left: 25px;
  }
}

.nav-link.dropdown-toggle {
  padding-right: 30px;
}

.nav-link.dropdown-toggle:global(.w--open) {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 991px) {
  .nav-link.dropdown-toggle {
    color: white;
  }
}

.nav-link.dropdown-toggle.light {
  display: none;
  padding-right: 30px;
  color: var(--blue-pudgy);
}

.nav-link.dropdown-toggle.light:hover {
  border-color: var(--blue-pudgy);
}

@media screen and (max-width: 991px) {
  .nav-link.dropdown-toggle.light:global(.w--open) {
    display: none;
  }
}

.nav-link.dropdown-toggle.thin-light {
  padding-right: 29px;
}

.nav-link.light {
  margin-right: 2px;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;

  color: var(--blue-pudgy);
  font-weight: 500;
}

.nav-link.light:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

.nav-link.light:global(.w--current) {
  border-style: none;
  border-width: 0px;
  border-radius: 0px;
  color: var(--blue-pudgy);
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .nav-link.light {
    margin-right: 0px;
    padding-right: 35px;
    padding-left: 35px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link.light:hover {
    background-color: black;
  }
}

@media screen and (max-width: 991px) {
  .nav-link.light:global(.w--current) {
    border-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 767px) {
  .nav-link.light {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.nav-link.light.primary {
  color: var(--black);
  font-weight: 300;
}

.nav-link.light.primary:global(.w--current) {
  color: var(--blue-pudgy);
}

.nav-link.light.primary.black {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: none;
}

.nav-link.light.primary.black:global(.w--current) {
  font-weight: 500;
}

.nav-link.color {
  display: block;
  margin-right: 0px;
  margin-bottom: 4px;
  background-color: rgba(207, 207, 207, 0.1);
}

@media screen and (max-width: 991px) {
  .nav-link.color {
    padding-left: 25px;
    border-radius: 60px;
    color: black;
  }
}

@media screen and (max-width: 991px) {
  .nav-link.color:hover {
    color: white;
  }
}

.nav-link.with-color {
  background-color: #1fdb6a;
  color: white;
}

.nav-link.with-color:hover {
  background-color: #2f3338;
}

.nav-link.thin-light {
  margin-right: 2px;
  padding-right: 12px;
  padding-left: 12px;
  color: white;
}

.nav-link.thin-light:global(.w--current) {
  color: white;
}

@media screen and (max-width: 991px) {
  .dropdown {
    width: 100%;
    max-width: 1500px;
  }
}

.dropdown-list:global(.w--open) {
  overflow: hidden;
  margin-top: 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 991px) {
  .dropdown-list:global(.w--open) {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    flex-wrap: nowrap;

    border-radius: 0px;

    box-shadow: 0 0 0 0 transparent;
  }
}

.dropdown-list.sidebar:global(.w--open) {
  margin-bottom: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  box-shadow: 0 0 3px 0 transparent;
}

.dropdown-link {
  transition: background-color 200ms ease,color 200ms ease;
  font-size: 13px;
}

.dropdown-link:hover {
  background-color: #1f6fff;
  color: white;
}

.dropdown-link:global(.w--current) {
  color: #1f6fff;
}

.dropdown-link:global(.w--current):hover {
  color: white;
}

@media screen and (max-width: 991px) {
  .dropdown-link {
    padding-left: 35px;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-link {
    padding-left: 25px;
  }
}

.dropdown-icon {
  margin-right: 10px;
  opacity: 0.4;
  color: var(--blue-pudgy);
}

@media screen and (max-width: 991px) {
  .dropdown-icon {
    margin-right: 30px;
  }
}

.nav-menu-content-block {
  margin-top: 40px;
  padding: 20px;
  border: 2px solid #ebeef3;
  border-radius: 4px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .nav-menu-content-block {
    margin-top: 20px;
    padding: 10px;
  }
}

.nav-title {
  margin-bottom: 8px;
  font-family: Montserrat, sans-serif;
  color: #1f6fff;
  font-size: 16px;
  font-weight: 700;
}

.nav-paragraph {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 18px;
}

.app-store-link-button {
  margin-bottom: 4px;
}

.app-store-link-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .app-store-link-button {
    margin-right: 2px;
    margin-left: 2px;
  }
}

.app-store-button {
  height: 46px;
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .app-store-button {
    height: 35px;
  }
}

.menu-button {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;

  transition: background-color 200ms ease;

  color: white;
}

.menu-button:hover {
  border-color: #212429;
  background-color: #212429;
}

.menu-button:global(.w--open) {
  border-color: #1fdb6a;
  background-color: #1fdb6a;
}

@media screen and (max-width: 991px) {
  .menu-button {
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    width: 50px;
    height: 50px;
    padding-top: 13px;
    padding-right: 0px;
    padding-left: 0px;

    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .menu-button {
    width: 40px;
    height: 40px;
    margin-top: 2px;
    padding-top: 8px;
    padding-right: 0px;
    padding-left: 0px;

    text-align: center;
  }
}

.menu-button.blue:global(.w--open) {
  border-color: #25395e;
  background-color: #25395e;
}